/* General */
html,
body {
    overflow-x: hidden;
}

body {
    position: relative
}


/* person tabs on the exec-board page */
.small-middle-container {
    margin: auto;
    width: 90%;
}


.person-image {
    height: 300px;
    object-fit: cover;
}



span {
    display: table;
    margin: 0 auto;
}

.mail {
    display: inline-block;
    margin-right: 10px;
}

.linkedin {
    display: inline-block;
}


/* navbar */
.navbar {
    background-color: #523528;
    margin-bottom: 20px;
}

.navbar-brand,
.nav-link {
    color: white;
}

#hamburger {
    margin-right: 10px;
    display: inline-block;
}

/* footer */
footer {
    background-color: #523528;
}

.footer-text {
    color: white;
}

.footer-text-link {
    color: lightblue;
}

/* announcements */
.announcements {
    margin-bottom: 20px;
}