/* General */
html, body {
    overflow-x: hidden;
}

body {
    position: relative
}


/* person tabs on the exec-board page */
.person-row {
    margin-bottom: 30px
}

.person-image {
    object-fit: cover;
    width:180px;
    height:220px;
    margin: auto;    
    display: block;
}

.person-text {
    margin-right: 15%;    
    display: block;
}


/* navbar */
.navbar {
    background-color: #523528;
    margin-bottom: 20px;
}

.navbar-brand, .nav-link {
    color: white;
}

#hamburger {
    margin-right: 10px;
    display: inline-block;
}

/* footer */
footer {
    background-color: #523528;
}

.footer-text {
    color: white;
}

.footer-text-link {
    color: lightblue;
}

/* announcements */
.announcements {
    margin-bottom: 20px;
}
